<!--The content below is only a placeholder and can be replaced.-->
<header role="banner">
  <p>Put company logo, etc. here.</p>
</header>
<nav role="navigation">
  <ul>
    <li routerLink="/home">Home</li>
    <li routerLink="/">Local Market</li>
    <li routerLink="/">Map</li>
    <li routerLink="/">Sign In</li>
    <li routerLink="/">My Booth(s)</li>
  </ul>
</nav>
<main role="main">
  <router-outlet></router-outlet>
</main>
<footer role="contentinfo">
  <p>Put copyright, etc. here.</p>
</footer>
