<!--The content below is only a placeholder and can be replaced.-->
<header role="banner" class="global-header global-header--type-1">
  <p class="global-header__content">Locally Sourced</p>
  <ul class="global-header__utility">
    <li class="global-header__utility-item">Add Booth</li>
    <li class="global-header__utility-item">Sign In</li>
  </ul>
</header>
<nav role="navigation" class="primary-nav primary-nav--type-1">
  <ul class="primary-nav__menu">
    <li class="primary-nav__menu-item" routerLink="/home">Home</li>
    <li class="primary-nav__menu-item" routerLink="/local-market">Local Market</li>
    <li class="primary-nav__menu-item" routerLink="/map">Map</li>
    <li class="primary-nav__menu-item" routerLink="/my-booths">My Booths</li>
  </ul>
</nav>
<main role="main" class="main-content main-content--type-1">
  <router-outlet></router-outlet>
</main>
<footer role="contentinfo" class="global-footer global-footer--type-1">
  <ul class="global-footer__menu">
    <li class="global-footer__menu-item" routerLink="/contact-us">Contact Us</li>
    <li class="global-footer__menu-item" routerLink="/privacy-policy">Privacy Policy</li>
    <li class="global-footer__menu-item" routerLink="/terms-of-service">Terms of Service</li>
  </ul>
</footer>
